In [224]:
import pandas as pd
import numpy as np

In [272]:
dataset = pd.read_csv('Bengaluru_House_Data.csv')

In [273]:
dataset.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [274]:
dataset.shape

(13320, 9)

In [275]:
type(pd.unique(dataset[col]))

numpy.ndarray

In [276]:
for col in dataset.columns.to_list():
    print(col , pd.unique(dataset[col]))
    print("\n")

area_type ['Super built-up  Area' 'Plot  Area' 'Built-up  Area' 'Carpet  Area']


availability ['19-Dec' 'Ready To Move' '18-May' '18-Feb' '18-Nov' '20-Dec' '17-Oct'
 '21-Dec' '19-Sep' '20-Sep' '18-Mar' '20-Feb' '18-Apr' '20-Aug' '18-Oct'
 '19-Mar' '17-Sep' '18-Dec' '17-Aug' '19-Apr' '18-Jun' '22-Dec' '22-Jan'
 '18-Aug' '19-Jan' '17-Jul' '18-Jul' '21-Jun' '20-May' '19-Aug' '18-Sep'
 '17-May' '17-Jun' '21-May' '18-Jan' '20-Mar' '17-Dec' '16-Mar' '19-Jun'
 '22-Jun' '19-Jul' '21-Feb' 'Immediate Possession' '19-May' '17-Nov'
 '20-Oct' '20-Jun' '19-Feb' '21-Oct' '21-Jan' '17-Mar' '17-Apr' '22-May'
 '19-Oct' '21-Jul' '21-Nov' '21-Mar' '16-Dec' '22-Mar' '20-Jan' '21-Sep'
 '21-Aug' '14-Nov' '19-Nov' '15-Nov' '16-Jul' '15-Jun' '17-Feb' '20-Nov'
 '20-Jul' '16-Sep' '15-Oct' '15-Dec' '16-Oct' '22-Nov' '15-Aug' '17-Jan'
 '16-Nov' '20-Apr' '16-Jan' '14-Jul']


location ['Electronic City Phase II' 'Chikka Tirupathi' 'Uttarahalli' ...
 '12th cross srinivas nagar banshankari 3rd stage' 'Havanur extension'
 'Abshot Layout']


size ['2 BHK' '4 Bedroom' '3 BHK' '4 BHK' '6 Bedroom' '3 Bedroom' '1 BHK'
 '1 RK' '1 Bedroom' '8 Bedroom' '2 Bedroom' '7 Bedroom' '5 BHK' '7 BHK'
 '6 BHK' '5 Bedroom' '11 BHK' '9 BHK' nan '9 Bedroom' '27 BHK'
 '10 Bedroom' '11 Bedroom' '10 BHK' '19 BHK' '16 BHK' '43 Bedroom'
 '14 BHK' '8 BHK' '12 Bedroom' '13 BHK' '18 Bedroom']


society ['Coomee ' 'Theanmp' nan ... 'SJovest' 'ThhtsV ' 'RSntsAp']


total_sqft ['1056' '2600' '1440' ... '1133 - 1384' '774' '4689']


bath [ 2.  5.  3.  4.  6.  1.  9. nan  8.  7. 11. 10. 14. 27. 12. 16. 40. 15.
 13. 18.]


balcony [ 1.  3. nan  2.  0.]


price [ 39.07 120.    62.   ...  40.14 231.   488.  ]

In [277]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [278]:
area_type = pd.get_dummies(dataset['area_type'])

In [279]:
dataset = pd.concat([dataset.drop('area_type',axis=1) , area_type], axis = 1)

In [280]:
dataset.drop('society',axis = 1, inplace=True)

In [281]:
dataset.head()

,availability,location,size,total_sqft,bath,balcony,price,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,0,0,0,1
1,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,0,0,1,0
2,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,1,0,0,0
3,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,0,0,0,1
4,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00,0,0,0,1

In [282]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   availability          13320 non-null  object
 1   location              13319 non-null  object
 2   size                  13304 non-null  object
 3   total_sqft            13320 non-null  object
 4   bath                  13247 non-null  float64
 5   balcony               12711 non-null  float64
 6   price                 13320 non-null  float64
 7   Built-up  Area        13320 non-null  uint8
 8   Carpet  Area          13320 non-null  uint8
 9   Plot  Area            13320 non-null  uint8
 10  Super built-up  Area  13320 non-null  uint8
dtypes: float64(3), object(4), uint8(4)
memory usage: 780.6+ KB

In [283]:
dataset['size']

0            2 BHK
1        4 Bedroom
2            3 BHK
3            3 BHK
4            2 BHK
           ...
13315    5 Bedroom
13316        4 BHK
13317        2 BHK
13318        4 BHK
13319        1 BHK
Name: size, Length: 13320, dtype: object

In [284]:
def get_size_data(element):
    try :
        if 'RK' in element:
            return 0.6
        else:
            tok = element.split(' ')
            return float(tok[0])
    except:
        return element

In [285]:
dataset['size'] = dataset['size'].apply(get_size_data)

In [286]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   availability          13320 non-null  object
 1   location              13319 non-null  object
 2   size                  13304 non-null  float64
 3   total_sqft            13320 non-null  object
 4   bath                  13247 non-null  float64
 5   balcony               12711 non-null  float64
 6   price                 13320 non-null  float64
 7   Built-up  Area        13320 non-null  uint8
 8   Carpet  Area          13320 non-null  uint8
 9   Plot  Area            13320 non-null  uint8
 10  Super built-up  Area  13320 non-null  uint8
dtypes: float64(4), object(3), uint8(4)
memory usage: 780.6+ KB

In [287]:
def get_tsqft_data(ttss):
    for ttss in ts:
        if '-' in ttss:
            nos = ttss.split('-')
            float_nos = [float(val) for val in nos]
            result = sum(float_nos) / len(float_nos)
            return result
        elif 'Sq. Meter' in ttss:
            c = ttss.replace('Sq. Meter','')
            return float(c)
        elif 'Perch' in ttss:
            c = ttss.replace('Perch','')
            return float(c)*272.3
        elif 'Sq. Yards' in ttss:
            c = ttss.replace('Sq. Yards','')
            return float(c)*9
        elif 'Acres' in ttss:
            return float(0)
        elif 'Cents' in ttss:
            return float(0)   
        elif 'Guntha' in ttss:
            c = ttss.replace('Guntha','')
            return float(c)*1089
        elif 'Grounds' in ttss:
            c = ttss.replace('Grounds','')
            return float(c)*2400  
        else:
            return float(ttss)  
        
dataset['total_sqft'] = dataset['total_sqft'].apply(get_tsqft_data)

In [288]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   availability          13320 non-null  object
 1   location              13319 non-null  object
 2   size                  13304 non-null  float64
 3   total_sqft            13320 non-null  float64
 4   bath                  13247 non-null  float64
 5   balcony               12711 non-null  float64
 6   price                 13320 non-null  float64
 7   Built-up  Area        13320 non-null  uint8
 8   Carpet  Area          13320 non-null  uint8
 9   Plot  Area            13320 non-null  uint8
 10  Super built-up  Area  13320 non-null  uint8
dtypes: float64(5), object(2), uint8(4)
memory usage: 780.6+ KB

In [289]:
locations = dataset['location'].unique()

In [290]:
for place in locations:
#     print(place)

    data = dataset[dataset['location']==place]
    shape = data.shape
#     print(shape[0])
    if shape[0] < 100:
        dataset[dataset['location']==place].replace(place,'other')

#     print(shape[0],'   ',place)

In [291]:
dataset[dataset['location']=='other']

Empty DataFrame
Columns: [availability, location, size, total_sqft, bath, balcony, price, Built-up  Area, Carpet  Area, Plot  Area, Super built-up  Area]
Index: []

In [247]:
# Very IMP **

# dataset[dataset['location']=='Electronic City Phase II'].replace('Electronic City Phase II','hehe')

,availability,location,size,total_sqft,bath,balcony,price,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,19-Dec,hehe,2.0,1056.0,2.0,1.0,39.07,0,0,0,1
155,18-Jul,hehe,2.0,1056.0,2.0,1.0,30.60,0,0,0,1
292,Ready To Move,hehe,2.0,1056.0,2.0,2.0,45.00,0,0,0,1
354,18-May,hehe,1.0,1056.0,1.0,1.0,28.35,0,0,0,1
461,18-May,hehe,3.0,1056.0,2.0,1.0,35.23,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
12910,18-Aug,hehe,2.0,1056.0,2.0,1.0,34.65,1,0,0,0
12974,Ready To Move,hehe,2.0,1056.0,2.0,1.0,54.48,0,0,0,1
12988,Ready To Move,hehe,2.0,1056.0,1.0,1.0,28.00,1,0,0,0
13055,18-May,hehe,3.0,1056.0,2.0,1.0,37.83,0,0,0,1
13241,19-Dec,hehe,3.0,1056.0,3.0,1.0,49.53,0,0,0,1

In [292]:
dataset['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)